<div class="card card-primary">
    <div class="card-header">
        <h4 class="card-title">Hızlı Erişim</h4>
    </div>
    <div class="card-body">
        <div class="list-group">
            <a href="@Url.Action("PlaylistCreate", "Youtube")" class="list-group-item list-group-item-action">
                <i class="la la-plus-circle text-primary"></i> Yeni Playlist Ekle
            </a>
            <a href="@Url.Action("VideoCreate", "Youtube")" class="list-group-item list-group-item-action">
                <i class="la la-plus-circle text-success"></i> Yeni Video Ekle
            </a>
            <a href="@Url.Action("Create", "OzelDers")" class="list-group-item list-group-item-action">
                <i class="la la-plus-circle text-info"></i> Yeni Özel Ders Ekle
            </a>
        </div>
    </div>
</div>
